.container_small-card{
    width:700px;
    margin-botton:15px;
}

.container_small-card-content{
    display: flex;
    flex-decoration: row;
}

.small-card-photo > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_small-card-separator{
    margin-top:10px;

}
.small-card-title:hover{
    transform: scale(1.1);
}

